DB_USER=xxxxxxxxxxxxxxxxxxx
DB_PASSWORD=xxxxxxxxxxxxxxxxxxx
DB_HOST=xxxxxxxxxxxxxxxx
DB_PORT=xxxxxxxxxxxxxxxxxx
DB_NAME=xxxxxxxxxxxxxx

JWT_SECRET=xxxxxxxxxxxxxxxxxx

superadmin:
Email: xxx@yourapp.com
Password: xxxxxxxxxxxxxxx